<!DOCTYPE html>
<html lang="es">

<head>
    <title>SalesGamer Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/templatemo.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
    @RenderSection("Styles", required: false)

</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container h1footer">
            <div class="w-100 d-flex justify-content-between">
                <div>
                </div>
                <div>
                    <a class="h1footer" href="https://www.facebook.com/" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="h1footer" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="h1footer" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">
            @* icono de la pagina *@

            <a class="navbar-brand text-success logo h1 align-self-center" href="/Home">
                <img src="~/img/logolocardo3.png" width="55" height="55">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Producto">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Register">Register</a>
                        </li>
                    </ul>
                </div>
                @* es el input q se abre cuando buscas *@

                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    @* icono del buscar *@
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-light mr-2"></i>
                    </a>
                    @* icono del carrito *@
                    <a class="nav-icon position-relative" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-light mr-1"></i>
                    </a>
                    @* icono de la personita *@
                    <a class="nav-icon position-relative" href="#">
                        <i class="fa fa-fw fa-user text-light mr-3"></i>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                @* icono de la pagina con telefono etc *@

                <div class="col-md-4 pt-5">
                    <ul class="list-unstyled h1footer footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Av. Corrientes 1234, Buenos Aires, Argentina
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class=" h1footer" href="tel:+54-11-3942-6531">+54-11-3942-6531</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class=" h1footer" href="https://mail.google.com/" target="_blank">info@salesgamer.com.ar</a>
                        </li>
                    </ul>
                </div>
                @* lista de categoria de productos *@

                <div class="col-md-4 pt-5">
                    <h2 class="h2 h1footer border-bottom pb-3 border-light">Categorias</h2>
                    <ul class="list-unstyled h1footer footer-link-list">
                        <li><a class=" h1footer" href="/Producto">Placas de video</a></li>
                        <li><a class=" h1footer" href="/Producto">Procesadores</a></li>
                        <li><a class=" h1footer" href="/Producto">Memorias ram</a></li>
                        <li><a class=" h1footer" href="/Producto">Placa Madre</a></li>
                        <li><a class=" h1footer" href="/Producto">Fuente</a></li>
                        <li><a class=" h1footer" href="/Producto">Mouse</a></li>
                        <li><a class=" h1footer" href="/Producto">Teclados</a></li>
                    </ul>
                </div>
                @* info adicional *@

                <div class="col-md-4 pt-5">
                    <h2 class="h2 h1footer border-bottom pb-3 border-light">Info Adicional</h2>
                    <ul class="list-unstyled h1footer footer-link-list">
                        <li><a class=" h1footer" href="/Home">Home</a></li>
                        <li><a class=" h1footer" href="/About">Sobre Nosotros</a></li>
                        <li><a class=" h1footer" href="/Contacto">Contacto</a></li>
                    </ul>
                </div>

            </div>

            <div class="row h1footer mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="h1footer " target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="h1footer " target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="h1footer " target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>                        
                    </ul>
                </div>

            </div>
        </div>
        @* footer de copy *@

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2024 SalesGamer
                            | Designed by SalesGamer
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- End Script -->
    @RenderSection("Scripts", required: false)
</body>

</html>
