<!DOCTYPE html>
<html lang="es">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/templatemo.css">
	<link rel="stylesheet" href="~/css/custom.css">
    @RenderSection("Styles", required: false)
</head>
<body>

    @RenderBody()


    @RenderSection("Scripts", required: false)
	<!--===============================================================================================-->
	<script src="~/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/bootstrap/dist/js/popper.js"></script>
	<script src="~/bootstrap/dist/js/bootstrap2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/daterangepicker/moment.min.js"></script>
	<script src="~/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>

</body>
</html>

